
{% extends "base.html" %}

{% block titulo %}Supermercado| Login{% endblock titulo %}
{% block navaction %}
    {% if atenticado %}
        
        <a class="nav-link active" aria-current="page" href="{% url 'addprod' %}">Adicionar produto</a>
    {% endif %}
{% endblock navaction %}
{% block conteudo %}
    <div id="formid" >
        <form action="{% url 'cadastro' %}" method="post" style="margin : 15px;">
            {% csrf_token %}
            <label for="inputPassword5" class="form-label">Nome</label>
            <input type="text" id="inputPassword5" name="username" class="form-control border-black" aria-describedby="passwordHelpBlock">
            
            <label for="inputPassword5" class="form-label">Password</label>
            <input type="password" id="inputPassword5" name='password' class="form-control border-black mb-3" aria-describedby="passwordHelpBlock">
            
            <button type="submit" class="btn btn-success">Criar</button>
            <a href="{% url 'home' %}" class="btn btn-danger">Cancelar</a>
        </form>
        {% if erro %}
            <div class="bg-danger text-white " style="text-align: center;">
                <p>{{ erro }}</p>
            </div>
            
        {% endif %}
    </div>
    
    
{% endblock conteudo %}
